<div class="comment-card">
  <p class="commenter">
    <%= comment.commenter %>
  </p>

  <p class="comment">
    <%= comment.body %>
  </p>

  <div class="destroy-container">
    <%= button_to 'Destory Comment', [comment.article, comment],
                method: :delete,
                data: { confirm: "Are you sure?" } %>
  </div>
</div>