// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "variables";

.article-form {
  font-size: 32px;
}

.article-form input, textarea {
  width: 100%;
}

.article-form input, textarea {
  padding: 5px 20px 10px 20px;
  margin: 10px 0;
  border: 2px solid $content-color;
  border-radius: 15px;

  background-color: $content-background;
  color: $content-color;
  font-size: 32px;
}

.article-form textarea {
  font-size: 20px;
  resize: none;
  height: 300px;
}

.article-form input[type=submit] {
  background-color: $accent-background-color;
  color: $accent-content-color;
  border: none;
}

.article-form .form-item-group {
  padding: 20px 0;
}

.article-show .card {
  padding: 5px 20px 10px 20px;
  margin: 10px 0;
  border: 2px solid $content-color;
  border-radius: 15px;

  background-color: $content-background;
  color: $content-color;
}

.article-show .card a, .article-show .card input[type=submit] {
  color: $accent-content-color;
  background-color: $accent-background-color;
  padding: 5px;
  margin: 0 5px;

  border: none;
  border-radius: 5px;

  height: auto;

  font-size: 16px;
}

.article-show .edit {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}