.index .article {
  display: flex;
  flex-direction: column;
  width: 100%;

  margin: 20px 0;
  padding: 10px;
  background-color: #1a1a1a;
  color: #b3b3b3;

  font-size: 32px;

  border: 2px solid #b3b3b3;
  border-radius: 15px;

  box-sizing: border-box;
}

.index a {
  color: #b3b3b3;
}

.index .comment-count {
  display: flex;
  justify-content: flex-end;

  font-size: 20px;
}

.index .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
}

.index .head a {
  font-size: 24px;
}